body::before {
    display: block;
    content: '';
    height: 60px;
}

.bac-image{
    position: relative;
}

.bac-image::before{
    content: "";
    background-image: url('images/mountain.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(20%) contrast(100%) grayscale(100%);
}   

.timer{
    position: relative;
}

.timer::before{
    content: "";
    background-image: url('images/mountain2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(20%) contrast(100%) grayscale(100%);
}

.about, .usecase, .card{
    background-color: black;
}

.box{
    background-color: transparent;
    border-width: 10px;
}

#map{
    width: 100%;
    height: 56%;
    border-radius: 10px;
}

.num{
    font-size: 40px;
    font-weight: bold;
}

.unit{
    font-size: 24px;
}

.time{
    font-size: 34px;
    font-weight: bold;
}
